
.AboutFilm{
  background-position: left calc((50vw - 170px) - 340px) top;
  background-size: cover;
  background-repeat: no-repeat;

  .grad{
    background-image: linear-gradient(to right, rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 10.5, 10.5, 0.84) 30%, rgba(31.5, 10.5, 10.5, 0.84) 100%);
    .AboutFilm__Container{
      position: relative;
      z-index: 100;
      max-width: 1200px;
      margin: 30px auto 0 auto;
      .Header__Container{

        padding: 0;
        &-Content{
          .Wrapp__content{
            display: flex;
            justify-content: space-between;
            padding: 70px 0;
            .Poster{
              margin-right: 100px;
              img{
                border-radius: 16px ;
              }
            }

            .Info{
              width: 650px;
              &__Content{
                h1{
                  font-size: 5rem;
                  font-weight: bold;
                  color:$Color;
                  margin-bottom: 5px;
                }
                &-Header{
                  display: flex;
                  margin-bottom: 20px;
                  .Info__Header-Item{
                    margin-right: 20px;
                    color:$Color;
                    font-size:1.7rem;
                    font-weight: bold;
                  }

                }
                &-Actions{
                  display: flex;
                  align-items: center;
                  .Mark{
                    display: flex;
                    margin-right: 20px;
                    .SpanMark{
                      color:$Color;
                      font-size:1.7rem;
                      font-weight: bold;
                      height: 50px;
                      width: 50px;
                      text-align: center;
                      padding-top: 10px;
                      border-radius: 50%;
                      border: 1px solid yellow;
                    }
                    div{
                      color:$Color;
                      font-size:1.7rem;
                      font-weight: bold;
                      margin-right: 10px;

                    }
                  }
                  .Action{
                    width: 250px;

                    &__List{
                      display: flex;
                      justify-content: space-between;
                      margin-right: 20px;

                      &-Item{
                        text-align: center;
                        padding-top: 5px;
                        color:$Color;
                        font-size:1.7rem;
                        font-weight: bold;
                        width: 40px;
                        height: 40px;
                        background: #474746;
                        border-radius: 50%;
                      }
                    }
                  }


                }
                &-Text{
                  .Trailer{
                    color:$Color;
                    font-size:1.7rem;
                    font-weight: bold;
                    border-radius: 10px;
                    border: 1px solid #0cd4c0;
                    padding: 15px 20px;
                    margin: 20px 0;
                  }
                  .Tagline{
                    color:$Color;
                    font-size:1.7rem;
                    font-weight: bold;
                  }
                  .Overview{
                    color:$Color;
                    font-size:3rem;
                    font-weight: bold;
                    margin-bottom: 20px;
                  }
                  .About{
                    color:$Color;
                    font-size:1.8rem;
                    font-weight: bold;
                  }
                }
              }
            }
          }


        }

      }

    }
  }


}
@media (max-width: 1200px) {
  .AboutFilm{
    .AboutFilm__Container{
      max-width: 80%;
    }
  }
}
