.Actors{
  max-width: 100%;
  margin-bottom: 90px;
  &__Slide{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background: #253396;
    padding:25px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-Item{

    }
  }
}