
.Header{
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(179, 177, 177, 0.25);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 3px 2px #c5b113;
  -moz-box-shadow: 0 0 3px 2px #c5b113;
  box-shadow: 0 0 3px 2px #c5b113;
  .Side--Menu{
    display: none;
  }
  @media (max-width: 800px){
    .Header__Categories{
      display: none;
    }
    .Search{
      width: 40vw;
    }
    .Side--Menu{
      display: block;
      .Span__Menu{
        color: $Color;
        font-size:1.4rem;
        font-weight: 550;
      }
    }
  }
  @media (max-width: 440px) {
    .Header__Login{
      .ImageLogin{
        width: 35px;
        height: 44px;
      }
    }
  }
  &__Container{
    display: flex;
    align-items: center;
    width:100%;
    padding: 20px 15px;
    justify-content: space-between;
  }
  //left block with logo and list
  &__LogoAndCategories{
    display: flex;
    align-items: center;
    justify-content: center;

    .Logo{
      width: 35px;
      background: url("../../img/logo.svg");
    }
  }




  //Categories : TV,Home ...
  &__Categories{
    display: flex;
    margin-left: 15px;
    li{
      margin-right: 20px;
      text-transform: uppercase;
    }
    .link{
      color: peachpuff;
      font-size: 1.4rem;
      font-weight: 550;
    }
    .activeLink,
    .link:hover{
      color: $Color;
    }
  }

  //Right block with input and login
  &__SearchAndLogin{
    display: flex;


    .Search{
      position: relative;
      .ImgSearch{
        position: absolute;
        top: 15px;
        left: 13px;
        width: 20px;
        height: 15px;
      }
    }

  }
  &__Input{
    margin-left: 3px;
    padding: 12px 35px ;
    border-radius: 10px;
    width: 100%;
    color: $Color ;
    font-size: 1.4rem;
    border: 1px solid #6f0825;
    background: #dc48ad;
  }
  &__Login{
    .ImageLogin{
      width: 40px;
      height: 44px;
      border: 1px solid $Color;
      margin-left: 20px;
      padding: 7px;
      border-radius: 10px;
    }
  }
  .ImageLogin:hover{
    background: #635d5d;
  }

}
@media (max-width: 1200px) {
  .Header{
    max-width: 80%;
  }
}
@media (max-width: 470px) {
  .Header {
    max-width: 80%;
  }
}