.Films{
  max-width: 1200px;
  margin: 0 auto;
  @import "headerSearchTitle";
  @import "filterMovies";
  @import "../SwiperGenres";
  @import "../ActorsSwiper";
}
@media (max-width: 1200px) {
  .Films{
    max-width: 80%;
  }
}
@media (max-width: 470px) {
  .Films {
    max-width: 80%;
  }
}
