.Swiper__Container{
  max-width: 100%;


  margin: 5% auto;
  .mySwiper{
    height: 500px;

    .swiper_slide{
      img{
        max-width: 100%;
        border-radius:  20px;
      }
    }
  }
}


