.Premium{
  max-width: 100%;
  margin: 0  5px 60px 5px;
  &__Container{
    background: rgba(179, 177, 177, 0.25);
    width: min(100% - 15px, 1200px);
    margin-inline: auto;
    -webkit-box-shadow: 0 0 3px 2px #c5b113;
    -moz-box-shadow: 0 0 3px 2px #c5b113;
    box-shadow: 0 0 3px 2px #c5b113;
    border-radius: 15px;
    p{
      text-align: center;
      padding: 25px 0 ;
      color: $Color;
      font-size: 17px;
      font-weight: bold;
    }
  }
  &__Container:hover{
    background: #595b3a;
  }
}