.Section {
  max-width: 100%;
  margin-bottom: 70px;

  &__container {
    width: min(100% - 15px, 1200px);
    margin-inline: auto;
    .gallery {
      &__blockHeader {
        margin: 0 0 25px 0;
        border-radius: 15px;
        h1 {
          color: $Color;
          font-size: 30px;
          font-weight: bold;
        }
      }
      @media (max-width: 540px) {
        .gallery__blockHeader{
          h1{
            font-size: 20px;
          }
        }
      }
      &__carousel {
        .gallery__swiper {
          .gallery__slide{
            &:hover{
              -webkit-transform: scale(1.01);
              -ms-transform: scale(1.01);
              transform: scale(1.01);
              transition: 1s;
            }
            a{
              img{
                position: relative;
                margin-left: 40px;
                max-width: 100%;
                border-radius:  16px;
              }

              .HoverSlide{
                position: absolute;
                top: 0;
                left: 0;
                height: 330px;
                width: 220px;
                border-radius:  16px;
                margin-left: 40px;
                background: rgba(0, 0, 0, 0.7);
                opacity: 0;
                display: flex;
                flex-direction: row-reverse;
                transition: 0.25s;

                &__action{
                  flex: 1;
                  align-items: flex-start;
                  padding: 20px 40px 0 0;
                  .action-img{
                    margin-bottom: 10px;
                    img:hover{
                      position: relative;
                      top: 2px;
                    }
                  }

                }
                &__info{
                  display: flex;
                  width: 50%;
                  flex: 2 ;
                  align-items: flex-end;
                  padding: 0 0 20px 20px;

                  &-release{
                    margin-bottom: 25px;
                    .Wrap-Rate{
                      display: flex;
                      align-items: center;
                      .rate{
                        color: #f4f4f4;
                        font-size: 2.5rem;
                        margin-bottom: 5px;
                        margin-right: 10px;

                      }
                      .stars{
                        *{
                          color: #d6d633;
                          font-size: 2rem;
                        }
                      }
                    }

                    .properties{
                      color: #c6c4bf;
                      font-size: 1.8rem;
                      margin-bottom: 10px;
                    }
                    .duration{
                      color: #c6c4bf;
                      font-size: 1.8rem;
                    }
                  }
                }

              }
              @media (max-width: 1200px) {
                .HoverSlide{
                  display: none;
                }

              }
              .HoverSlide > * {
                transform: translateY(20px);
                transition: transform 0.25s;
              }
              .HoverSlide:hover > * {
                transform: translateY(0px);
              }
              .HoverSlide:hover{
                opacity: 1;
              }
            }
          }
          @media (max-width: 1200px) {
            .gallery__slide{
              a{
                img{
                  margin-left: 0;
                }
              }
            }
          }



          .swiper-button-next::after {
            color: #f4f4f4;
            height: 100%;
            width: 123px;
          }
          .swiper-button-prev::after{
            color: #f4f4f4;
            height: 100%;
            width: 123px;
          }
          .swiper-button-disabled{
            opacity: 0;
          }
          .swiper-button-prev {
            left: 0.5px;
          }
          .swiper-button-next{
            right: 0.5px;
          }

          @media (max-width: 1200px) {
            .swiper-button-next {
              display: none;
            }
            .swiper-button-prev {
              display: none;
            }
          }
          .swiper-button-next::after {
            font-size: 3.5vw;
          }
          .swiper-button-prev::after {
            font-size: 3.5vw;
          }
        }

      }
    }


  }
}
